body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.pattern-img {
    background-color: cornflowerblue;
    height: 60px;
    width: calc();
    background-image: url(../img/pattern.png);
    background-size: contain;
}

.boolean {
    width: 100px;
    margin-top: 30px;
    margin-left: 5px;
}

.title {
    margin-bottom: 0px;
}

.under-title {
    color: gray;
}

.blue-text {
    color: cornflowerblue;
}

.highlight {
    background-color: rgba(255, 255, 0, 0.7);
}

.cell {
    width: calc(100% / 4);
    text-align: left;
}

.lightblue {
    background-color: lightskyblue;
}

.blue {
    background-color: blue;
}

table {
    border-collapse: collapse;
}

.footer-img1 {
    color: white;
    padding: 5px;
    width: 200px;
    height: 130px;
    background-size: contain;
    background-image: url(../img/monitor.jpg);
}

.footer-img2 {
    color: white;
    padding: 5px;
    margin-top: 10px;
    width: 200px;
    height: 130px;
    background-size: contain;
    background-image: url(../img/graph.jpg);
}

.text-grey {
    color: rgb(104, 104, 104);
    margin-bottom: 5px;

}